.TopRow {
    display: flex;
    justify-content: left;
    align-items: center;
    text-indent: 10px;
}

.MidRow {
    margin-top: 10px;
    justify-content: center;
    align-items: center; 
}

.body {
    margin-top: 10px;
}



